.comment-wrapper {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 10px 50px;
  .comment {
    border-bottom: 1px solid silver;
    padding: 15px 0;
  }
  .comment:last-child {
    border-bottom: none;
  }
}
